/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');

/* all formats */

.cvdate {
  float: right;
  font-style: italic
}

.content a {
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none
}

.content a:hover {
  color: #006666; /* Change this to your preferred color */
  text-decoration: underline
}